.buscador-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-left: 850px;
}

.buscador-input {
    flex: 1;
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
}

.buscador-button {
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buscador-button:hover {
    background-color: #cc0000;
} 